.container {
  max-width: 1000px;
  margin: 0 auto;
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
}

.img {
  width: 333px;
  height: 333px;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .img {
    width: 33.33vw;
    height: 33.33vw;
  }
}

@media (max-width: 480px) {
  .img {
    width: 50vw;
    height: 50vw;
  }
}
